[Desktop Entry]
Type=Application
Name=Matterhorn
Comment=A feature-rich Unix terminal client for the Mattermost chat system
Icon=${SNAP}/meta/gui/matterhorn.png
Exec=matterhorn
Terminal=true
Categories=Network;Chat;
Keywords=chat;mattermost;
StartupNotify=true
StartupWMClass=matterhorn
X-GNOME-UsesNotifications=true
